.mine-page {
  height: calc(var(--vh) * 100 - 50px);
  height: calc((var(--vh) * 100 - constant(safe-area-inset-bottom)) - 50px);
  height: calc((var(--vh) * 100 - env(safe-area-inset-bottom)) - 50px);
  padding-bottom: 50px;
  // background: #fff;
  background: linear-gradient(180deg, #fff 0%, #f4f6f8 100%) !important;
  .mine-header {
    padding-top: 40px !important;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-left {
      display: flex;
      align-items: center;
      gap: 12px;
      .user-avatar {
        width: 64px;
        height: 64px;
      }
      .user-info {
        .user-name {
          font-weight: 600;
          font-size: 16px;
          color: #000000;
        }
      }
    }
    .right-icon {
      width: 19px;
      height: 19px;
    }
  }
  .mine-content {
    padding-top: 0px !important;
    padding: 24px 12px;
    .balance-card {
      // height: 85px;
      background: linear-gradient( 312deg, #F9505B 0%, #FF7B6A 100%);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      .balance-card-content {
        .balance-card-content-title {
          font-weight: 500;
          font-size: 16px;
          color: #FFFFFF;
          line-height: 22px;
        }
        .balance-card-content-value {
          font-weight: 500;
          font-size: 24px;
          color: #FFFFFF;
          line-height: 32px;
        }
      }
      .balance-arrow {
        width: 19px;
        height: 19px;
      }
    }
    // .grid-item-child {
    //   border-radius: 10px !important;
    //   overflow: hidden;
    // }
    // :deep(.nut-grid-item__content){
    //   background: red !important;

    // }
    .grid-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      .grid-item {
        width: 33.33%;
        background: #fff;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        .grid-icon {
          width: 38px;
          height: 38px;
        }
        .grid-item-text {
          margin-top: 7px;
          font-weight: 500;
          font-size: 16px;
          color: #000000;
        }
      }
    }
    .order-card {
      :deep(.nut-cell-group) {
        --nut-cell-after-border-bottom: 0px;
        --nut-cell-border-radius: 10px !important;
        // .nut-cell {
        //   padding-top: 20px;
        //   padding-bottom: 20px;
        // }
        // .nut-cell-group__wrap {
        //   padding-top: 10px;
        //   padding-bottom: 10px;
        // }
        .nut-cell__icon {
          width: 24px !important;
          height: 24px !important;
          img {
            width: 24px !important;
            height: 24px !important;
          }
        }
        .nut-cell__title {
          font-weight: 500;
          font-size: 16px;
          color: #000000;
        }
      }
    }
  }
}
.download-app-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  .nut-button {
    width: 47%;
  }
}