@import "@/assets/css/common.scss";

.coupons-page {
  height: calc(var(--vh) * 100);
  height: calc((var(--vh) * 100 - constant(safe-area-inset-bottom)));
  height: calc((var(--vh) * 100 - env(safe-area-inset-bottom)));
  background: #EDEEF2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .coupons-tabs {
    --nut-tabs-horizontal-titles-item-min-width: 80px;
    :deep(.nut-tabs__titles) {
      padding: 0 12px;
    }
    :deep(.nut-tab-pane) {
      background: #EDEEF2;
      padding: 0px;
    }
    :deep(.nut-tabs__titles-item.active) {
      color: #ff4d5b;
      font-weight: 700;
    }
  
    :deep(.nut-tabs__titles-item__line) {
      background: #ff4d5b;
    }


    :deep(.nut-tab-pane) {
      overflow: hidden;
      padding: 0px;
  
      
      min-height: 0; // 重要：确保 flex 子元素可以收缩
      height: calc(var(--vh) * 100 - 46px - 46px);
      height: calc((var(--vh) * 100 - constant(safe-area-inset-bottom)) - 46px - 46px);
      height: calc((var(--vh) * 100 - env(safe-area-inset-bottom)) - 46px - 46px);
    }
  }
}